@mixin centerIt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.img_pg3 {
  height: 50px;
  width: 300px;
  @include centerIt();
  margin-top: 5px;
}

#grad3 {
  height: 50px;
  background: linear-gradient(to right, lightblue, lightblue, lightblue);
  border-radius: 2px;
  margin-top: 5px;
}

.text1 {
  color: darkblue;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-top: 12px;
  text-align: center;
}

table {
  width: 100%;
  box-shadow: 10px 10px 5px grey;
  margin-top: 8px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background: linear-gradient(to right, rgb(114, 198, 231), rgb(189, 212, 221));
}

th,
td {
  padding: 35px;
  text-align: left;
  background: linear-gradient(to right, rgb(114, 198, 231), rgb(189, 212, 221));
}

.imageContainer1 {
  color: purple;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  height: 35px;
  border-radius: 2px;
  background: url("../../assets/images/back.png");
  width: 100%;
  margin-top: 10px;
  padding-top: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
}
