<div class="container">
    <a routerLink='/contact'>
        <img [src]="'assets/images/test.png'" class="img_pg3">
    </a>

    <div id="grad3" class="grad3_pg3">
        <h3 class="text1">Conditions</h3>
    </div>

    <table>
        <tr>
            <th>Eligibility</th>
            <th colspan="2"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, asperiores.</th>
        </tr>
        <tr>
            <th rowspan="3">Prizes</th>
            <td>First: Return Air Ticket For One Person</td>
        </tr>
        <tr>
            <td>Second: Two iPad Air-2 (18GB)</td>
        </tr>
        <tr>
            <td>Three: 50 Dinner Coupons For a New York Restaurant</td>
        </tr>
        <tr>
            <th>The Raffle</th>
            <td>Lorem ipsum dolor sit amet.</td>
        </tr>
        <tr>
            <th>How to Claim</th>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, non.</td>
        </tr>
        <tr>
            <th>Disclaimer</th>
            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, at.</td>
        </tr>
    </table>

    <a routerLink='/raffle'>
        <div class="imageContainer1">Enter Raffle</div>
    </a>
</div>