<div class="container">

    <div id="grad3">
        <h3 class="text1">Enter Raffle</h3>
    </div>

    <a routerLink="/conditions">
        <div class="imageContainer1">Read Conditions</div>
    </a>

    <div id="grad-3">
        <h3 class="text4">Please enter the following information for entering the raffle.</h3>
    </div>

    <div class="form-container">
        <mat-form-field>           
             <input matInput placeholder="Name..">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Address">
            <input matInput placeholder="Address1">
            <input matInput placeholder="Address2">
        </mat-form-field>
        <mat-form-field>
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput placeholder="Telephone..">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email..">
        </mat-form-field>
    </div>

    <div class="imageContainer1">
        <div class="example-button-row">
            <button mat-raised-button color="primary">Submit</button>
        </div>
    </div>

    <div id="grad2_home">
        <a routerLink="/contact">
            <img [src]="'assets/images/test.png'" class="img_pg2">
        </a>
    </div>

    <div class="imageContainer footer">
        Open checking account online
        <br> @ www.statebank.com
    </div>


</div>