<div class="container">
    
        <a routerLink="/contact">
            <img [src]="'./assets/images/test.png'" class="img_home">
        </a>
   

    <div id="grad2">
        <h2>India Day Raffles</h2>
        <h3 class="text2">Win Fabulous Prizes</h3>
        <h2>The lucky first gets a return flight</h2>
        <h2>from New York to India</h2>
        <h5>*Conditions Apply(Enter to Read)</h5>
        <a routerLink="/raffle">
            <div class="imageContainer">Enter Raffle</div>
        </a>
    </div>

    <div id="grad2">
        <h2>The Happy News For You</h2>
    
        <h2>Fee Free Indian Rupee Remittances</h2>
        
        <h4 class="text2">Zero Balance Checking Accounts</h4>
        
        <div class="imageContainer2">Open Checking Account Online
            <br> @ www.statebank.com
        </div>
    </div>

    <div id="grad2_home">
        <h2>
            <a routerLink="/pro-serv">
                <p style="font-size: 30px;">More Services</p>
            </a>
        </h2>

        <div class="clearfix">
            <div class="more_services">
                <div class="img-container" style="text-align: center; font-weight: bold;">
                    Trade <br> Finance
                </div>
                <div class="img-container" style="text-align: center; font-weight: bold;">
                    Business <br> Credit
                </div>
                <div class="img-container" style="text-align: center; font-weight: bold;">
                    Certificate <br> Of <br> Deposits
                </div>
                <div class="img-container" style="text-align: center; font-weight: bold;">
                    Money <br> Market A/C
                </div>

            </div>
        </div>
    </div>

    <div id="grad1">
        <h3>
            <p class="purpleTxt">460 Park Ave, New York - 10022</p>
        </h3>
        <h3>
            <p class="purpleTxt">Email: sbi.nyb@statebank.com</p>
        </h3>
        <h3 class="purpleTxt">Phone: 212 521 3200</h3>
    </div>


</div>